body, html {
	background: #F9F9F9;
}

#dailyTopNav {
	background: #007cd7;
	border: 0;
	margin: 0;
	border-radius: 0;
	a {
		color: white;
	}
	.navbar-brand {
		font-size: ms(1);
		font-family: serif;
	}
	.btn {
		background: none;
		font-size: ms(0);
		border: 2px solid hsla(0, 0%, 100%, 0.75);
		color: hsla(0, 0%, 100%, 0.95);
		transition: all .2s;
		&:hover {
			border-color: hsla(0, 0%, 100%, 1);
			color: hsla(0, 0%, 100%, 1);
			background: hsla(0, 0%, 100%, 0.1);
		}
	}
	.subscribeSuccessMsg {
		margin-top: 1rem;
		color: white;
	}
}

header {
	background: $blue;
	color: white;
	h1 {
		margin-top: 4rem;
		font-size: ms(2);
		text-align: center;
		font-weight: normal;
	}
	.countDown {
		text-align: center;
		margin-bottom: 4rem;
		span {
			opacity: 0.5;
		}
		.time {
			opacity: 0.8;
		}
	}
}

.voteButtonsContainer {
	background: #edeeef;
	.agreeVoteContainer, .disagreeVoteContainer {
		width: 50%;
		float: left;
		clear: none;
		text-align: center;
		padding: 1rem 0;
		.agree, .disagree {
			font-size: ms(1.5);
			padding-top: 1px;
			padding-bottom: 4px;
			border-color: black(15);
			box-shadow: 0 1px 0px 0 calcShade(3);
			text-shadow: 0 1px 0 calcTint(60);
			background-image: linear-gradient(black(1), black(4));
			small {
				color: $gray;
				font-size: ms(0);
			}
		}
		.agree {
			color: $green;
		}
		.disagree {
			color: $red;
		}
	}
	.agreeBorder {
		width: 50%;
		float: left;
		clear: none;
		border-bottom: 2px solid $green;
	}
	.disagreeBorder {
		width: 50%;
		float: left;
		clear: none;
		border-bottom: 2px solid $red;
	}
}

.topicMetaInfo {
	font-size: 12px;
}

.comments {
	.commentForm {

	}
	.comment {
		margin: 1.5rem 0 0 0;
		font-size: 1rem;
		border-radius: 3px;
		.commentInfo {
			margin-bottom: 0px;
			.upvote {
				cursor: pointer;
				&.active {
					color: orange;
				}
			}
		}
		&.agreeComment {
			// border-top: 1px solid $green;
		}
		&.disagreeComment {
			// border-top: 1px solid $red;
		}
		.commentInfo {
			font-size: 12px;
		}
	}
}
