@import 'modular-scale';

$ms-base: 1rem 1.2rem;
$ms-ratio: $golden;

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Black.otf.woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-BlackIt.otf.woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Bold.otf.woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-BoldIt.otf.woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-It.otf.woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Regular.otf.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-ExtraLight.otf.woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-ExtraLightIt.otf.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Light.otf.woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-LightIt.otf.woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Semibold.otf.woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-SemiboldIt.otf.woff');
  font-weight: 600;
  font-style: italic;
}
