/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require selectize
 *= require_self
 */

@import 'compass';
@import 'susy';
@import 'breakpoint';

@import 'global/nav_variables';
@import 'bootstrap';
@import 'sass_helpers';
@import 'colors';
@import 'components';

$dark-text: #444;
$medium-text: #555;
$light-text: #999;

$green: #2F97E9;

$light-gray: #F9F9F9;
$medium-gray: #EEEEEF;
$border-gray: #DADADD;

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Black.otf.woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-BlackIt.otf.woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Bold.otf.woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-BoldIt.otf.woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-It.otf.woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Regular.otf.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-ExtraLight.otf.woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-ExtraLightIt.otf.woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-Light.otf.woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-LightIt.otf.woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SourceSansPro';
  src:font-url('SourceSansPro-Semibold.otf.woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: font-url('SourceSansPro-SemiboldIt.otf.woff');
  font-weight: 600;
  font-style: italic;
}

$green: #8dc44e;
$red: #f36c60;

.greenText {
  color: $green;
}

.redText {
  color: $red;
}

/**
 * Global Styles
 */
html {
	font-family: "SourceSansPro"
}

* {
	box-sizing: border-box;
}

.smallCaps {
  font-variant: small-caps;
}

.avatar {
	border-radius: 50%;
}

#topNav {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	.navbar-nav {
		height: 62px;
		.avatar {
			margin-top: -6px;
			border-radius: 50%;
		}
		.dropdown-toggle {
			height: 62px;
		}
	}
  .profileAvatar {
    margin-right: -2px;
  }
  .postOpinionBtn {
    margin-left: 10px;
  }
}

.topNavSpacer {
  height: 62px;
}



.voteActionsContainer {
  .topicActions {
    .voteBtn {
      width: 90px;
      background-image: linear-gradient(black(1), black(4));
      box-shadow: 0 1px 0px 0 calcShade(3);
      border-color: black(15);
      font-weight: 900;
      color: calcShade(55);
      padding-bottom: 3px;
      text-shadow: 0 1px 0 calcTint(60);
      .agreeVoteCount, .disagreeVoteCount {
        margin-left: 3px;
        font-size: 80%;
      }
      .agreeVoteCount {
        color: hsl(88, 100%, 36%);
      }
      .disagreeVoteCount {
        color: $red;
      }
      &:hover {
        border-color: black(25);
        box-shadow: 0 1px 0px 0 calcShade(5);
        color: calcShade(65);
      }
      &.active {
        background: black(5.5);
        box-shadow: -3px 0px 2px -2px hsla(0, 0%, 0%, 0.1) inset,0 0 4px 0 hsla(0, 0%, 0%, 0.1) inset;
        border-color: black(25);
      }
    }
    .popover {
      width: 328px !important;
      max-width: 475px;
      .popover-title {
        font-variant: small-caps;
      }
    }
  }
  .answerCount {
    font-size: 11px;
  }
}

.voteActionsContainer.showPage {
  .topicActions .voteBtn {
    padding-bottom: 9px;
  }
}

