/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require selectize
 *= require_self
 */

/* SASS libs */
@import 'compass';
@import 'susy';
@import 'breakpoint';
@import 'modular-scale';
@import 'bootstrap';

/* Project files */
@import 'colors';
@import 'base/typography';
@import 'base/reset';

@import 'global/nav_variables';

@import 'sass_helpers';

// @import 'components/**/*';

.siteFooter {
  margin-top: 2rem;
  border-top: 1px solid hsla(0,0,0,0.1);
  padding-top: 1rem;
  text-align: center;
  a {
    margin: 0 20px 20px 20px;
    color: $light-blue-gray;
  }
}

.smallCaps {
  font-variant: small-caps;
}

.avatar {
	border-radius: 50%;
}

#topNav {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	.navbar-nav {
		height: 4rem;
		.avatar {
			margin-top: -6px;
			border-radius: 50%;
		}
		.dropdown-toggle {
			height: 4rem;
		}
	}
  .profileAvatar {
    margin-right: -2px;
  }
  .postOpinionBtn {
    margin-left: 10px;
  }
}

.topNavSpacer {
  height: 4rem;
}

.voteActionsContainer {
  .topicActions {
    .voteBtn {
      width: 90px;
      background-image: linear-gradient(black(1), black(4));
      box-shadow: 0 1px 0px 0 calcShade(3);
      border-color: black(15);
      font-weight: 900;
      color: calcShade(55);
      padding-bottom: 3px;
      text-shadow: 0 1px 0 calcTint(60);
      .agreeVoteCount, .disagreeVoteCount {
        margin-left: 3px;
        font-size: 80%;
      }
      .agreeVoteCount {
        color: hsl(88, 100%, 36%);
      }
      .disagreeVoteCount {
        color: $red;
      }
      &:hover {
        border-color: black(25);
        box-shadow: 0 1px 0px 0 calcShade(5);
        color: calcShade(65);
      }
      &.active {
        background: black(5.5);
        box-shadow: -3px 0px 2px -2px hsla(0, 0%, 0%, 0.1) inset,0 0 4px 0 hsla(0, 0%, 0%, 0.1) inset;
        border-color: black(25);
      }
    }
    .popover {
      width: 328px !important;
      max-width: 475px;
      .popover-title {
        font-variant: small-caps;
      }
    }
  }
  .answerCount {
    font-size: 11px;
  }
}

.voteActionsContainer.showPage {
  .topicActions .voteBtn {
    padding-bottom: 9px;
  }
}






