body, html {
	background: #F9F9F9;
}

$green: #8dc44e;
$red: #f36c60;

.greenText {
	color: $green;
}

.redText {
	color: $red;
}

h1 {
	margin-top: 10px;
	margin-bottom: 0;
}

.comments {
	.commentForm {

	}
	.comment {
		font-size: 15px;
		padding: 10px 0;
		margin-bottom: 10px;
		border-radius: 3px;
		.commentInfo {
			margin-bottom: 0px;
			.upvote {
				cursor: pointer;
				&.active {
					color: orange;
				}
			}
		}
		&.agreeComment {
			border-top: 1px solid $green;
		}
		&.disagreeComment {
			border-top: 1px solid $red;
		}
		.commentInfo {
			font-size: 12px;
		}
	}
}
