@import 'sass_helpers';

$dark-text: #444;
$medium-text: #555;
$light-text: #999;

$green: #2F97E9;

$light-gray: #F9F9F9;
$medium-gray: #EEEEEF;
$border-gray: #DADADD;

.categoryFilterAlert {
	padding: 8px;
	height: 35px;
	label {
		cursor: default;
	}
	a {
		margin-top: -3px;
	}
	.removeFilters {
		color: $medium-text;
	}
}

.indexHeader {
	margin: 25px 0;
	border-radius: 0;
	.lead {
		margin-bottom: 0;
		font-weight: 400;
		p {
			margin: 0px 0 6px;
		}
		.antiTroll {
			font-size: 60%;
			margin-bottom: 0;
			font-weight: 400;
			color: hsla(200, 50%, 45%, .75);
		}
	}
}

.contentHeader {
	font-weight: 600;
	font-size: 18px;
	font-variant: small-caps;
	margin-bottom: 10px;
	margin-top: 0;
}

.topicContainer {
	&:hover {
		text-decoration: none;
	}
	.topic {
		padding: 14px 16px;
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		-o-transition: background 0.1s ease-in-out;
		transition: background 0.1s ease-in-out;
		border: 1px solid rgba(0,0,0,0.1);
		background: white;
		margin-bottom: 10px;
		&:hover {
			background: #fcf5e2;
			cursor: pointer;
		}

		.topicMetaInfo {
			font-weight: 500;
			color: hsl(0,0,70);
			margin-bottom: 6px;
			.squareAvatar {
				border-radius: 2px;
				margin-right: 3px;
			}
			a {
				font-weight: 900;
				color: hsl(0, 0, 60);
				&:hover {
					color: hsl(0,0,40);
				}
			}
		}

		.title {
			font-size: 18px;
			font-weight: 600;
			display: inline-block;
			margin-top: 0px;
			margin-bottom: 15px;
			a {
				color: #534540;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		.topicFooter {
			.topicActions {
				.btn {
					width: 80px;
					background-image: linear-gradient(black(1), black(4));
					box-shadow: 0 1px 0px 0 calcShade(3);
					border-color: black(15);
					font-weight: 900;
					color: calcShade(55);
					padding-bottom: 3px;
					text-shadow: 0 1px 0 calcTint(60);
					&:hover {
						border-color: black(25);
						box-shadow: 0 1px 0px 0 calcShade(5);
						color: calcShade(65);
					}
					&.active {
						background: black(5.5);
						box-shadow: -3px 0px 2px -2px hsla(0, 0%, 0%, 0.1) inset,0 0 4px 0 hsla(0, 0%, 0%, 0.1) inset;
						border-color: black(25);
					}
				}
			}
			.answerCount {
				font-size: 11px;
			}
		}

		.categoryline {
			font-size: 17px;
			margin-top: 2px;
			margin-bottom: 0px;
			color: #999999;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.filters {
	border: 1px solid hsla(0, 0%, 0%, 0.1);
	border-bottom: 0;
	border-radius: 3px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		background: hsl(0, 0%, 96%);
		border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
		box-shadow: inset 0 1px 0 hsl(0, 100%, 100%);
		cursor: pointer;
		display: block;
		height: 45px;
		line-height: 45px;
		position: relative;
		-webkit-transition: background .15s cubic-bezier(0.19,1,.22,1);
		transition: background .15s cubic-bezier(0.19,1,.22,1);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		a {
			color: hsl(0, 0%, 53%);
			display: block;
			height: 100%;
			overflow: hidden;
			padding: 0 42px 0 12px;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			font-variant: small-caps;
			font-size: 16px;
			&:hover {
				text-decoration: none;
			}
			.count {
				border: 1px solid hsla(0, 0%, 0%, 0.1);
				border-radius: 3px;
				display: inline-block;
				float: right;
				font-size: 11px;
				height: 20px;
				line-height: 20px;
				min-width: 22px;
				padding: 0 6px;
				pointer-events: none;
				position: absolute;
				top: 12px;
				right: 8px;
				text-align: center;
			}
		}
		&:hover {
			background: hsl(0, 100%, 100%);
		}
	}
}
