@import 'modular-scale';

/* Project files */
@import 'colors';
@import 'base/typography';
@import 'base/reset';

@import 'global/nav_variables';

@import 'sass_helpers';

body, html {
	background: #F9F9F9;
}

h1, h2, h3, h4, strong {
	-webkit-font-smoothing: antialiased;
}

#dailyTopNav {
	background: #007cd7;
	border: 0;
	margin: 0;
	border-radius: 0;
	a {
		color: white;
	}
	.navbar-brand {
		font-size: ms(1);
	}
	.btn {
		background: none;
		font-size: ms(0);
		border: 2px solid hsla(0, 0%, 100%, 0.75);
		color: hsla(0, 0%, 100%, 0.95);
		transition: all .2s;
		&:hover {
			border-color: hsla(0, 0%, 100%, 1);
			color: hsla(0, 0%, 100%, 1);
			background: hsla(0, 0%, 100%, 0.1);
		}
	}
	.subscribeSuccessMsg {
		margin-top: 1rem;
		color: white;
	}
}

header {
	background: $blue;
	color: white;
	h1 {
		margin-top: 4rem;
		font-size: ms(2);
		text-align: center;
		font-weight: normal;
	}
	.countDown {
		text-align: center;
		margin-bottom: 4rem;
		span {
			opacity: 0.5;
		}
		.time {
			opacity: 0.8;
		}
	}
}

.voteButtonsContainer {
	background: #edeeef;
	.agreeVoteContainer, .disagreeVoteContainer {
		width: 50%;
		float: left;
		clear: none;
		text-align: center;
		padding: 1rem 0;
		.topicAgreeBtn, .topicDisagreeBtn {
			border-radius: 0;
			color: hsl(0, 100%, 100%);
			font-size: ms(1.5);
			-webkit-box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.24);
			-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
			box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.24);
			-webkit-font-smoothing: antialiased;
			font-weight: 500;
			padding-top: 1px;
			padding-bottom: 4px;
			border: none;
			border-radius: 0;
			transition: all .2s;
			width: 100px;
			small {
				font-size: ms(-1);
			}
			&.active {
				box-shadow: none;
				opacity: 0.6;
			}
		}
		.topicAgreeBtn {
			background: $green;
			&:not(.active):hover {
				background: hsl(91, 89%, 43%);
			}
			&.active {
				cursor: default;
			}
		}
		.topicDisagreeBtn {
			background: $red;
			&:not(.active):hover {
				background: hsl(357, 72%, 61%);
			}
			&.active {
				cursor: default;
			}
		}
	}
	.agreeBorder {
		width: 50%;
		float: left;
		clear: none;
		border-bottom: 2px solid $green;
	}
	.disagreeBorder {
		width: 50%;
		float: left;
		clear: none;
		border-bottom: 2px solid $red;
	}
}

.topicMetaInfo {
	font-size: 12px;
}

.comments {
	.commentForm {

	}
	.comment {
		margin: 2rem 0 0 0;
		font-size: 1rem;
		.commentInfo {
			margin-bottom: 0px;
			.upvote {
				cursor: pointer;
				&.active {
					color: orange;
				}
			}
		}
		&.agreeComment {
			// border-top: 1px solid $green;
		}
		&.disagreeComment {
			// border-top: 1px solid $red;
		}
		.commentInfo {
			font-size: 12px;
		}
	}
}

.popover {
	.popover-title {
		text-align: center;
		font-weight: bold;
		font-variant: small-caps;
	}
	.fbAuthBtn {
		font-variant: small-caps;
		box-shadow: 0 1px 0 0 hsla(0, 100%, 100%, 0.07) inset,0 1px 2px 0 hsla(0, 0%, 0%, 0.08),0 1px 0 0 hsla(0, 0%, 0%, 0.06);
		background: hsl(207, 100%, 45%);
		background: linear-gradient(to bottom, hsl(205, 82%, 48%) 0%,hsl(207, 100%, 45%) 100%);
		background: -o-linear-gradient(top, #168add 0%,#007ee5 100%);
		background: -ms-linear-gradient(top, #168add 0%,#007ee5 100%);
		background: -moz-linear-gradient(top, #168add 0%,#007ee5 100%);
		background: -webkit-linear-gradient(top, hsl(205, 82%, 48%) 0%,hsl(207, 100%, 45%) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(205, 82%, 48%)), color-stop(100%, hsl(207, 100%, 45%)));
		border: 1px solid hsl(207, 88%, 40%);
		&:hover {
			background: hsl(207, 100%, 45%);
			background: linear-gradient(to bottom, hsl(207, 87%, 51%) 0%,hsl(207, 100%, 45%) 100%);
			background: -o-linear-gradient(top, #168eef 0%,#007ee5 100%);
			background: -ms-linear-gradient(top, #168eef 0%,#007ee5 100%);
			background: -moz-linear-gradient(top, #168eef 0%,#007ee5 100%);
			background: -webkit-linear-gradient(top, hsl(207, 87%, 51%) 0%,hsl(207, 100%, 45%) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(207, 87%, 51%)), color-stop(100%, hsl(207, 100%, 45%)));
		}
	}
}

